---
const pageTitle = 'Legal Pages';
import Layout from '../../../layouts/InnerPageLayout.astro';

---
<Layout pageTitle={pageTitle}>

    <section>

        <div class="container-fluid">
            
                <div class="container">

                    <div class="grid">
                        <div class="col-12 col-mobile-12 mt-5 mb-3">
                            <a href="/">&#8592; Home</a>
                        </div>
                    </div>


                    <div class="grid">
                        <div class="col-12 col-mobile-12 mt-5 mb-3">
                            <h1>Legal Documents</h1>
                            <hr />
                        </div>
                    </div>  

                    
                    <div class="grid">

                        <div class="col-12 col-mobile-12 mt-4 mb-5">

                            <p>
                                <a href="/legals/terms-and-conditions/">Terms and Conditions</a>
                            </p>
                          
                            <p>
                                <a href="/legals/privacy-and-cookies/">Privacy and Cookies</a>
                            </p>
                            
                            <p>
                                <a href="/legals/attributions/">Attributions</a>
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>

    </section>

</Layout>