---
import Layout from '../../layouts/MainLayout.astro';
---
<Layout pageTitle="ZinContent Coming Soon">

		<div class="container-fluid mt-5">
				<div class="grid">
					<div class="col-12 text-center">
						<h3>ZinContent Coming Soon</h3>			
					</div>
					
				</div>	
		</div>


</Layout>
	