---
import Layout from '../../layouts/MainLayout.astro';
import Hero from '../../layouts/components/homepage/01_hero.astro';
---
<Layout pageTitle="ZinContent Coming Soon">

	<section>
		<Hero />
	</section>


</Layout>