---
import Layout from '../../layouts/MainLayout.astro';
import Hero from '../../layouts/components/homepage/01_hero.astro';
import Problem from '../../layouts/components/homepage/02_problem.astro';
import Solution from '../../layouts/components/homepage/05_solution.astro';
import Features from '../../layouts/components/homepage/10_features.astro';
import CTARow from '../../layouts/components/website/cta-row.astro';
import FAQs from '../../layouts/components/homepage/15_faqs.astro';
import NegSection from '../../layouts/components/homepage/20_negsection.astro';
import CTAPage from '../../layouts/components/website/cta-page.astro';
---
<Layout pageTitle="ZinContent Coming Soon">

	<section><Hero /></section>

	<section>
		<Problem />
	</section>

	<section>
		<Solution />
	</section>

	<section>
		<Features />
	</section>

	<section>
		<CTARow />
	</section>

	<section>
		<FAQs />
	</section>

	<section>
		<NegSection />
	</section>

	<section>
		<CTAPage />
	</section>

</Layout>