---
const pageTitle = 'Pricing';
import Layout from '../../layouts/InnerPageLayout.astro';

---
<Layout pageTitle={pageTitle}>

    <section>
        <div class="container-fluid">
            <div class="container mt-5 mb-5">
                <div class="grid">
                    <div class="col-12 col-mobile-12 pt-5 pb-5">

                        <h2 class="txt-dark">£9.97 per month</h2>

                        <p>
                            One pricing for a tool that does one job extremely well.
                        </p>

                        <p>
                            If you are creating social media content, you're creating content worth far more than £10.  ZinApp will provide inspiration, a starting point, an outline, all from real material you've already captured.
                        </p>

                        <p>
                            With ZinApp, you never need to sit down to write without something genuine to work with. 
                        </p>

                        <p>
                            <i class="bi bi-star-fill txt-orange mr-2"></i> 
                            If you would like to generate authentic, stand-out content, click the yellow button to get started.
                        </p>

                        <a href="/#email" class="btn btn-sm btn-yellow">More info</a>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
</Layout>