---

---
<section id="hero">
    <div class="container-fluid bg-gradient-primary pt-5 pb-5" style="background-color: #EBF9F8;">
        <div class="container pt-2 pb-5 border-default rounded-2 shadow-medium bg-light">

            <div class="grid">

                <div class="col-mobile-12 col-7 pb-4 pl-2 pt-4">
                
                    <p>
                        <i class="bi bi-star-fill txt-orange mr-2"></i> 
                        For people who have ideas they want to share
                        <i class="bi bi-star-fill txt-orange ml-2"></i> 
                    </p>
                    <h1>Create Authentic and Powerful Written Content</h1>
                    <ul class="no-bullets">
                        <li class="mb-3"><i class="bi bi-check-lg txt-orange mr-2"></i>Easily capture ideas, inspiration and insights</li>
                        <li class="mb-3"><i class="bi bi-check-lg txt-orange mr-2"></i> Create a personal ideas repository that grows in power</li=>
                        <li class="mb-3"><i class="bi bi-check-lg txt-orange mr-2"></i> Generate content that speaks your unique voice and ideas</li>
                    </ul>
                    <a href="#email" class="btn btn-yellow mt-3">
                        Get Early Access
                    </a>
                </div>

                <div class="col-mobile-12 col-5 img-vcenter-grid">
                    <img src="https://xo8h-rjxb-rsw5.e2.xano.io/vault/tGsoI1Ml/i0LLIKu7MYJhtu9to72_x75CxJo/U6sC0w../brooke-cagle-JBwcenOuRCg-unsplash-lg.webp"
                    class="img-responsive-rounded img-fill" alt="Problem Image"
                    />
                </div>
                
            </div>
            
        </div>
    </div>
</section>