---

---
<section>
    <section>
            <div class="container-fluid bg-light-teal">

                <div class="container pt-5 pb-5">

                    <div class="grid">
                        <div class="col-12 mb-4 text-center">
                            <h2>Will the ZinApp work for me?</h2>
                            <h4>Yes if you want to generate authentic and original content.</h4>
                        </div>
                        
                    </div>

                    <div class="grid">

                        <div class="col-mobile-12 col-8 pr-4">

                            <h5 class="mt-3">
                                <i class="bi bi-trophy mr-2"></i> Gain your competitive advantage
                            </h5>
                            <p>
                                Every insight or idea that you capture is the basis of future content. 
                            </p>
                            <hr />

                            <h5 class="mt-3"><i class="bi bi-hourglass-split mr-2"></i>
                                Create content in half the time
                            </h5>
                            <p>
                                Using your real stories, examples and insights saves you a lot of time. 
                            </p>
                            <hr />

                            <h5 class="mt-3"><i class="bi bi-person-raised-hand mr-2"></i> 
                                Develop your unique voice
                            </h5>
                            <p>
                                AI can amplify your authentic voice if prompted correctly, rather than generating generic posts that audiences scroll past.
                            </p>
                            <hr />

                            <h5 class="mt-3"><i class="bi bi-person-walking mr-2"></i> 
                                Stay consistent 
                            </h5>
                            <p>
                                It takes a couple of minutes to capture a 'fleeting thought'.
                            </p>
                            <hr />

                            <h5 class="mt-3"><i class="bi bi-hammer mr-2"></i> 
                                Build a reputation for creating quality
                            </h5>
                            <p>
                                You can stand-out when writing from your own repository of ideas.
                            </p>
                            <hr />

                        </div>

                        <div class="col-mobile-12 col-4">
                            <img src="https://xo8h-rjxb-rsw5.e2.xano.io/vault/tGsoI1Ml/NmmFNGspRLU7l826FY_eXJYGU2Q/XONdaw../rodrigo-rodrigues-wolf-r-t-CS9hWNJGojE-unsplash.webp"
                            class="img-responsive-rounded img-border" alt="zin app solution image"
                            />
                        </div>

                    </div>
                    
                </div>
            </div>                
        
        </section>

</section>