---

---

<div class="container-fluid bg-cta-row mt-5" id="footer">

    <div class="grid pt-5">

        <div class="col-mobile-12 col-2">&nbsp;</div>

        <div class="col-mobile-12 col-4 txt-white">
            <p style="font-size:2rem;">
                ZinApp 
            </p>
            <p>
                ZinApp is a trading name of AB Radford Consulting (England, UK).
            </p>
            <p>
                <i class="bi bi-envelope mr-2"></i>zincontent@proton.me
            </p>
            <p>
                <i class="bi bi-globe mr-2"></i> zincontent.com
            </p>
            <p>
                <i class="bi bi-envelope-open me-2"></i>
                C/o Proactive Web Design, Stapeley House, London Road, Nantwich, Cheshire, CW5 7JW
            </p>
        </div>

        <div class="col-mobile-12 col-4 txt-white">
            <p style="font-size:2rem;">
                Links
            </p>
            <p>
                <a class="txt-white" href="/">Home</a>
                <br />
                <a class="txt-white" href="/Pricing">Pricing</a>
                <br /> 
                <a class="txt-white" href="/legals">Legals</a>
            </p>
        </div>

    </div>

</div>