---

---
<section>
    <div class="container-fluid mb-5">
        <div class="container" id="email">

            <div class="grid">
                <div class="col-mobile-12 col-12 text-center">
                    <h2>Get Early Access to ZinApp</h2>
                    <h4>Join the waitlist and be the first to know when ZinApp is available.</h4>
                    <p>
                        When we go live, access to ZinApp will cost £9.97 per month. 
                        <br />
                        <a href="/pricing">Read more about our pricing here</a>
                    </p>
                </div>  
            </div>
            <div class="grid">

                    <div class="col-mobile-12 col-12 text-center">
                        <h3>
                            Use the form below to sign-up for early access.
                        </h3>
                        <p>
                            Add your name, email and an optional message in the form below.
                        </p>
                        <p class="txt-orange">
                            We promise to only contact you regarding the ZinApp.
                        </p>
                    </div>  
            </div>
            <div class="grid">
                <div class="col-3"></div>    
                <div class="col-mobile-12 col-6 text-center">

                    <form action="https://api.web3forms.com/submit" method="POST">
                        <input type="hidden" name="access_key" value="c97920dd-c689-45cc-8418-1a94afc74aae">

                        <input type="text" class="form-control mb-2" name="name" placeholder="Name" required>

                        <input type="email" class="form-control mb-2" name="email" placeholder="Email" required>
                        <textarea name="message" class="form-control mb-2" placeholder="Message"></textarea>
                        
                        <button type="submit" class="btn btn-orange mt-2">Click to Send</button>
                        

                    </form>
                </div>
                <div class="col-3"></div>    
            </div>

        </div>
    </div>
</section>

<!-- Back to top -->
<section>
    <div class="container-fluid mt-5 mb-5">
        <div class="container">
            <a href="#hero">
                <i class="bi bi-box-arrow-up txt-orange" style="font-size: 2rem;"></i>
            </a>
        </div>
    </div>
    </section>