<section>
    <div class="container-fluid bg-cta-row">

        <div class="container pt-4 pb-4">
            <div class="col-mobile-12 col-12 txt-white">

                <p style="font-size: 1.5rem;">
                    The perfect time to start creating authentic, high-quality content is now.
                </p>

                <a href="#email" class="btn btn-yellow btn-sm mt-2">Get Early Access</a>
            </div>
        </div>
        
    </div>
</section>