---

---
<section>
            <div class="container-fluid">
                <div class="container pt-5 pb-5">
                    
                    <div class="grid">
                        
                        <div class="col-mobile-12 col-8 pr-5">
                           <h2>Welcome to ZinApp</h2>

                            <h5>
                                Capture, combine and export your authentic ideas
                            </h5>
                            <p class="text-bold">
                                <i class="bi bi-star-fill txt-orange mr-2"></i> Remember when you had that great idea?
                            </p>
                            <p>
                                You were on the go and forgot it later. In two clicks you could have captured that thought, inspired idea or insightful comment from your client in ZinApp, ready for you to read later, on any device.
                            </p>
                            <p class="text-bold">
                                <i class="bi bi-star-fill txt-orange mr-2"></i> Ready to write some social media content?  Open ZinApp...
                            </p>
                            <p>
                            Look through your captured thoughts. We call these thoughts 'Zins'. Filter and combine your Zins to get fresh perspectives. Export your Zins...
                            </p>
                            <p>
                                ... You now have the raw material to create a truly authentic piece of content.
                            </p>

                            <p class="text-bold">
                                <i class="bi bi-star-fill txt-orange mr-2"></i> A growing library of ideas
                            <p>
                                Every Zin you capture builds your personal repository of ideas, stories and insights. Over time, this becomes an invaluable resource that makes content creation faster and easier.
                            </p>
                            
                        </div>

                        <div class="col-mobile-12 col-4">
                            <img src="https://xo8h-rjxb-rsw5.e2.xano.io/vault/tGsoI1Ml/f4SPO1ZjUBOaXzjj3SUt9NVuq48/znX0-A../jess-morgan-nTVdm_vEJQc-unsplash.webp"
                            class="img-responsive-rounded img-border" alt="zin app solution image"
                            />
                        </div>

                        
                    </div>

                    <div class="grid mt-5" style="border: #4ecdc4;border-style: solid;border-width: 1px;" >
                        <div class="col-mobile-12 col-12 text-center mt-5 pb-5 pl-2 pr-2">
                            <h4>
                                In an age of AI, authenticity is your <em>strategic advantage</em>
                            </h4>

                            <p>
                                Your experiences, your ideas, your inspirations are those that will make the difference.  
                            </p>
                            <p>
                                <i class="bi bi-arrow-right-square-fill txt-orange mr-2"></i> Try ZinApp today and build content that you can feel proud of.
                            </p>

                            <a href="#email" class="btn btn-yellow mt-3">
                                Get Early Access
                            </a>

                        </div>
                    </div>
                    
                </div>
            </div>
        </section>