<section>
    <div class="container-fluid mt-5 mb-5">
        <div class="container pt-5 pb-5 text-center border-default rounded-2 shadow-medium" style="background-color:#EBF9F8;">
            <div class="grid">
                <div class="col-mobile-12 col-12">

                    <h2 class="txt">What happens if nothing changes?</h2>
                    <p>
                        Six months from now, you will still be having great ideas. However, many will just slip away.
                    </p>
                    <p>
                        You will still want to create good quality content, but you will be struggling. 
                    </p>
                    <p>
                        The repository of client stories and and insight that you could be building won't exist. You will still be starting from a blank page every time.
                    </p>
                    <p>
                        Or you could start capturing your thoughts and building your ideas today.
                    </p>

                </div>
            </div>

        </div>
    </div>

</section>